@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cdh;
  src: url("./assets/fonts/Sfcd/SF-Compact-Display-Heavy.otf");
}

@font-face {
  font-family: "compactroundbold";
  src: local("compactroundbold"),
    url("./assets/fonts/Sfcr/SF-Compact-Rounded-Bold.otf") format("truetype");
}

@font-face {
  font-family: "compactroundmedium";
  src: url("compactroundmedium"),
    url("./assets/fonts/Sfcr/SF-Compact-Rounded-Medium.otf");
}

@font-face {
  font-family: "cdm";
  src: url(./assets/fonts/Sfcd/SF-Compact-Display-Medium.otf);
}

#nav-points {
  font-family: compactroundmedium;

}
h1{
  font-family: compactroundbold;
  
}
li, button{
  font-family: cdm;
}
h2{
  font-family: cdh;
  color: white;
  font-size: 32px;
  
  
}


li :hover {
  color: #B49CE7;
  transition: all .4s;


}

i {
  color: white;
}

#Nav-width {
  width: 100%;
}

#nav-button, .stat-heading{
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #D946EF, #8D5BF5);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
 
  
}
#nav-button:hover{
  

}
#hero-button{
  /* background-color: #764AD3; */
  color: white;
  transition-duration: .2s;

}

#hero-button:hover {
  box-shadow: #313178 0 1px 30px;
  background: #171738;
  border: solid 2px #13132F;
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #D946EF, #8D5BF5);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px)
{
  #phone-pic
  {
    display: none;
  }
}

@media only screen and (max-width: 768px)
{
  .accomp
  {
    font-size: x-small;
    
  }
  

}



.hero-p{
  font-family: cdm;
  color: #6060BE;
}

/*Stat section*/

.stat-div, .stat-div2{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);

}

#feature-web{
  
  
}

.card1, .card1s{
   box-shadow: 5px 5px 10px #0B0B1B;
} 

.card2{
  box-shadow: 5px 10px 10px #0B0B1B;
}


/* .container{
  position: relative;
}
#pop-up{
  position: absolute;
  top: 100%;
  left: 0;

} */

@media only screen and (max-width: 768px)
{
  .stat-sec, .faces-container{
    display: flex;
    flex-direction: column;
    
  }
  .manl
  {
    display: none;
    
  }
  .face{
    display: flex;
    justify-content: center;
    
    height: 256px;
    width: 256px;
  }
  
  .card1{
    height: 256px;
    width: 256px;
    display: none;
  }
  #p-sec{
    font-size: 14px;
  }

}
@media only screen and (max-width: 935px)
{
  .stat-sec, .faces-container{
    display: flex;
    flex-direction: column;
    
  }
  .manl
  {
    display: none;
    
  }
  .card1{
    height: 256px;
    width: 256px;
    display: none;
  }
  #p-sec{
    font-size: 14px;
  }

}


@media only screen and (max-width: 935px)
{
  .manl
  {
    display: none;
    
  }
 

}

@media only screen and (min-width: 935px)
{
  
  .card1s{
    
    display: none;
    
  }
  

}

.card1s{
  
  height: 256px;
    width: 256px;
}


#stats-bg{
  background: rgb(79,79,183);
background: linear-gradient(111deg, rgba(79,79,183,1) 0%, rgba(40,40,98,1) 56%, rgba(23,23,56,1) 100%);
}




/*             Test Section                */
#test-bg{
  background: rgb(11,11,27);
  background: linear-gradient(0deg, rgba(11,11,27,1) 25%, rgba(23,23,56,1) 76%, rgba(40,40,98,1) 100%);
}

/* .face{
  background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
width: 300px;
height: 300px;

} */


/* FOOT SECTION */

.foot-ul{
color: #f2f2f2;
opacity: 50%;
}

h4{
  color: #f2f2f2;
}
.foot-logo{
  
}
.foot-li{
  font-family: cdm;
}

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #CCBBEF 0.89%,
      #BAA5E9 17.23%, 
      #9878DE 42.04%,
      #7C6CE0 55.12%,
      #6534CE 71.54%,
      #764AD3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #dff3e4 -278.56%,
      #7180b9 -78.47%,
      #3423a6 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #171738 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #171738 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #171738 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


